body {
  background-image: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}
.container {
  display: flex;
  flex-direction: row;
}
form {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: transparent;
  padding: 25px 15px 25px 10px;
  text-shadow: 1xp 1xp 1xp black;
  border: solid 1xp red;
  color: yellow;
  border-radius: 50px;
  box-shadow: 30px 30px black;
  border: solid 1px yellow;
}
form {
  transition: ease-in-out;
}
h1 {
  font-size: 40px;
  padding: 0xp 0px 10px 40px;
  display: block;
  border-bottom: 1px solid yellow;
}
h1 > span {
  display: block;
  font-size: 20px;
}
label {
  display: block;
  margin: 0px;
}
label span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
textarea,
select {
  border: solid 1px black;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 5px 10px black (63, 23, 23);
  font-size: 12px;
}
textarea {
  padding: 5px 3px 3px 5px;
  height: 100px;
}
.submit {
  background: lightblue;
  border: solid 1px black;
  padding: 10px 25px 10px 25px;
  margin-left: 200px;
  color: black;
  box-shadow: 3px 5px black;
  border-radius: 5px;
  cursor: pointer;
}
.submit:hover {
  background: blue;
  color: white;
}
form {
  animation-name: change;
  animation-duration: 25s;
  width: 50em;
  margin-left: 50px;
}

#mil {
  height: 100px;
  width: 150px;
  position: relative;
  padding-top: 500px;
  padding-right: 200px;
  /* left: 315px;
  top: 143px; */
  -webkit-animation: myOrbit 10s linear infinite;
}
#star {
  height: 275px;
  width: 350px;
  display: flex;
  margin: auto;
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: mymove;
  animation-direction: alternate;
  animation-duration: 25s;
}
#tie {
  height: 120px;
  width: 100px;
  position: relative;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2s;
  top: 50px;
  left: 50px;
}
#death {
  position: relative;
  -webkit-animation: floatBubble 55s infinite normal ease-out;
  animation: floatBubble 55s infinite normal ease-out;
  height: 200px;
  width: 200px;
  display: inline-block;
}
@keyframes change {
  from {
    background-color: red;
  }
  to {
    background-color: transparent;
  }
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 500px;
  }
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 500px;
  }
}
@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
@-webkit-keyframes floatBubble {
  0% {
    top: 800px;
  }
  100% {
    top: -500px;
  }
}
@keyframes floatBubble {
  0% {
    top: 800px;
  }
  100% {
    top: -500px;
  }
}
